.top {
    display: flex;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.titulo {
    display: inline-block;
    font-style: oblique;
    color: red;
    margin: 0 15px 0 30px;
}

.titulo img{
    width: 30px;
    height: 30px;
}

.home>button {
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 15px 16px;
}

.hoy>button {
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 15px 16px;
    margin: 0 15px 0 0;
}

.izquierda {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: blue
}



.search__bar {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    height: 25px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 80vw;
    margin: 0 auto;
    max-width: 750px;
}


.search__bar input {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: inherit;
}

.search__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.zoombar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.zoominfo{
    display: flex;
    flex-direction: column;
}


.btnz1, .btnz2, .btnz3 {
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}

.btnz1:hover, .btnz2:hover, .btnz3:hover{
    background-color: rgb(208, 208, 208);
}


.btnz1 img {
    width: 20px;
}

.btnz2 img{
    width: 20px;
}

.btnz3 img{
    width: 20px;
}

.btnz4 {
    background-color: #d80821;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.zoomtittle{
    font-size: 40px;
    margin-bottom: 0;
}

.zoomlink{
    color: rgb(51, 51, 51);
    font-size: 19px;
}


.authorcont{
    display: flex;
    justify-content: space-between;
}


.authorcont p{
    margin: 0;
    padding: 0;
}

.authorsub{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authorsub a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.authorsub0{
    display: flex;
}

.btnz5{
    background-color: rgb(231, 231, 231);
    color: black;
    font-size: 15px;
    padding: 18px 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
    margin: 0 5px 0 0;
}
.btnz5:hover{
    background-color: rgb(184, 184, 184);
}

.coment{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.comenttop{
    display: flex;
    align-items: center;
    margin: 0;
}

.comenttop img{
    height: 8px;
}

.comenttop p{
    font-size: 20px;
    margin: 0 10px 0 0;
}

.btnz6 {
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 11px 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}

.btnz6:hover{
    background-color: rgb(229, 229, 229);
}

.comentbot{
    display: flex;
    margin: 50px 0 0 0;
    padding: 0;
}

.search_bar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
    height: 25px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
}


.search_bar2 input {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
    color: rgb(135, 135, 135);
}

.search_bar2 img{
    height: 26px;
}


.btnz7{
    background-color: rgb(231, 231, 231);
    color: black;
    font-size: 15px;
    padding: 0px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
    margin: 0 5px 0 0;
}

.subauthor{
    display: flex;
    align-items: center;
    margin-top: 180px;
    display: flex;
    padding: 0;
}

.btnsa1{
    background-color: rgb(231, 231, 231);
    color: black;
    font-size: 15px;
    padding: 0px 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
    margin: 0 5px 0 0;
}
.btnsa1:hover{
    background-color: rgb(184, 184, 184);
}

.subauthor a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
}

.subauthor a:hover{
    text-decoration: underline;
}



.btnb1 {
    position: absolute;
    background-color: white;
    top: 10vh;
    right: 95vw;
    opacity: 1;
    color: black;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}
.btnb1 img{
    width: 20px;
}

.btnb1:hover{
    background-color: #eaeaea;
    opacity: 1;
} 


.btnb2 {
    position: absolute;
    background-color: white;
    top: 93vh;
    right: 3vw;
    opacity: 1;
    color: black;
    font-size: 15px;
    padding: 15px 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
    box-shadow: 0 0 16px rgb(211, 211, 211);
}
.btnb2 img{
    width: 18px;
}

.btnb2:hover{
    background-color: #eaeaea;
    opacity: 1;
} 














:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

.zoompin{
    margin: 100px 0 0 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contMain{
    margin: 0;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 16px rgb(211, 211, 211);
}

.text{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 0;
}

.text p{
    margin: 0;
}

.zoominfo{
    display: flex;
    padding: 30px 30px 0 30px;
    width: 100%;
}

.zoomcard{
display: flex;
flex-direction: column;
position: relative;
}

.btnzi1 {
    position: absolute;
    top: 740px;
    left: 20px;
    z-index: 1;
    background-color: #bd081d;
    opacity: 0;
    color: black;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.zoomcard:hover > .btnzi1{
    background-color: #eaeaea;
    opacity: .8;
}

.zoomcard:hover > .btnzi1:hover{
    opacity: 0.8;
    background-color: rgb(164, 164, 164);
}

.btnzi2 {
    position: absolute;
    top: 740px;
    left: 430px;
    z-index: 1;
    background-color: white;
    opacity: 1;
    color: black;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.btnzi2 img{
    height: 20px;
}

.zoomcard:hover > .btnzi2:hover{
    background-color: rgb(164, 164, 164);
}

.zoomimage{
    border-radius: 16px;
}



body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.pin_container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;

    background-color: rgb(255, 255, 255);
}

.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: black;
}

.card img{
    border-radius: inherit;
}

.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}

.card:hover > img{
    opacity: 0.5;
    cursor: zoom-in;
}

.btns {
    position: relative;
    top: -220px;
    left: 120px;
    background-color: #bd081d;
    opacity: 0;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.card:hover > .btns {
    background-color: #bd081d;
    color: white;
    opacity: 1;
}

.card:hover > .btns:hover {
    background-color: #900617;
}

.btnm {
    position: relative;
    top: -290px;
    left: 120px;
    background-color: #bd081d;
    opacity: 0;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.card:hover > .btnm {
    background-color: #bd081d;
    color: white;
    opacity: 1;
}

.card:hover > .btnm:hover {
    background-color: #900617;
}

.btnl {
    position: relative;
    top: -410px;
    left: 120px;
    background-color: #bd081d;
    opacity: 0;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

.card:hover > .btnl {
    background-color: #bd081d;
    color: white;
    opacity: 1;
}

.card:hover > .btnl:hover {
    background-color: #900617;
}

.btn1 {
    position: relative;
    top: -53px;
    left: -88px;
    opacity: 0;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}

.card:hover > .btn1{
    background-color: #eaeaea;
    opacity: 1;
}

.card:hover > .btn1:hover{
    background-color: white;
}



.btn2 {
    position: relative;
    top: -92px;
    left: 145px;
    opacity: 0;
    color: black;
    font-size: 15px;
    padding: 2px 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}

.card:hover > .btn2{
    background-color: #eaeaea;
    opacity: 1;
}

.card:hover > .btn2:hover{
    background-color: white;
}


.btn3 {
    position: relative;
    top: -92px;
    left: 150px;
    opacity: 0;
    color: black;
    font-size: 15px;
    padding: 2px 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius:999px;
    text-align: center;
}

.card:hover > .btn3{
    background-color: #eaeaea;
    opacity: 1;
}

.card:hover > .btn3:hover{
    background-color: white;
}


/* @media screen and (max-width: 400px){

    main{
    flex-direction: column;
    }

    .container1{
        margin-bottom: 20px;
        flex-direction: row;
    }

    .container2{
        flex-direction: column;
    }
} */

@media screen and (max-width: 1230px){
    .contMain{
        flex-direction: column;
    
    align-items: center;
    }
    .zoominfo{
        width: 92%;
    }



    .zoomcard{
        width: 500px;
    }

    .btnzi1 {
        position: absolute;
        top: 740px;
        left: 20px;
        z-index: 1;
        background-color: #eaeaea;
        opacity: 0;
        color: black;
        font-size: 18px;
        padding: 12px 15px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
    }
    
    .zoomcard:hover > .btnzi1{
        opacity: 1;
    }
    
    .zoomcard:hover > .btnzi1:hover{
        background-color: white;
    }
    
    .btnzi2 {
        position: absolute;
        top: 740px;
        left: 430px;
        z-index: 1;
        background-color: white;
        opacity: 1;
        color: black;
        font-size: 18px;
        padding: 12px 15px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        text-align: center;
    }
    
    .btnzi2 img{
        height: 20px;
    }
}
